body {
	font-family: lingo;
	background-color: black;
	margin: 0;
	padding: 0;
	color: white;	
	font-size: 18px;
}

@font-face {
	font-family: lingo;
	src: url(assets/fonts/thatthatnewpixelfamilytest-square.otf);
}
@font-face {
	font-family: lingo;
	src: url(assets/fonts/thatthatnewpixelfamilytest-italicsquare.otf);
	font-style: italic;
}

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 10px;
	padding-left: 25px;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
	bottom: 0;
	font-weight: 50;
}

h1, h2 {
	text-transform: lowercase;
}

h1 {
	/* position:absolute;
	padding: 0px 0px 10px 30px; */
	font-size: 60px;
}
h2 {
	font-size: 50px;
}
h2::before {
	content: "› ";
}

#bg {
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	mix-blend-mode: difference;
	filter: blur(0.6vmin) contrast(100);
}

#hover {
	position: fixed;
	z-index: 3;
	/* width: 100px; */
	height: 100px;
	filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
	left: 0;
	top: 0;
	transition: scale 0.2s;
	transform-origin: 0 0;
}

a {
	color: inherit;
	text-transform: lowercase;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content > div {
	width: 80%;
	max-width: 700px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.projects {
	border-bottom: solid 1px;
	box-sizing: border-box;
	padding: 0;
}
.projects > li {
	border-top: solid 1px;
	list-style: none;
	display: flex;
}

.projects > li > a {
	text-transform: none;	
	text-decoration: none;
	padding: 10px;
	padding-top:15px;
	box-sizing: border-box;
	flex: 1;
	background: linear-gradient(to right, white, white 50%, black 50%, black);
	background-size: 200% 100%;
	background-position: 100%;
	transition: 0.2s;
	display: flex;
	align-items: center;
	cursor: none;
}
.projects > li > a:hover {
	background-position: 0;
	color: black;
}
.projects > li > a > h3 {
	flex: 1;
}
.tag {
	text-transform: lowercase;
	margin: 0;
	margin-left: 5px;
	margin-bottom: 5px;
	border: solid 1px;
	width: fit-content;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 100vmin;
	font-size: 12px;
	display: inline-flex;
}

.preview {
	max-width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

pre {
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}