:root {
	--gradient-one: #1f2758;
	--gradient-two: #0f101c;
	--font-color: white;
}
@media (prefers-color-scheme: light) {
	:root {
		--gradient-one: #cdd0f6;
		--gradient-two: #9198e5;
		--font-color: rgb(0, 0, 0);
		--accent-color:rgba(255, 255, 255, 0.7);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--gradient-one: #1f2758;
		--gradient-two: #181a2c;
		--font-color: white;
		--accent-color:rgba(255, 255, 255, 0.1);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Rajdhani', sans-serif;
	color:var(--font-color);
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	background: linear-gradient(var(--gradient-one), var(--gradient-two));
	background-size: cover;
	z-index: -1;
}

.cover {
	position: absolute;
	left:50%;
	top:50%;
	translate: -50% -50%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding:0 20px 0 20px;
	margin: 5px 5px 5px 5px;
	box-sizing: border-box;
	border-radius: 30px;
	width: fit-content;
	height: fit-content;
	max-width: 700px;
}
sub {
	font-size: 5vmin;
	display: block;
	margin-top: 20px;
}
.cover h1 {
	font-size: 10vmin;
	margin-top: 0;
}
.sectionLink {
	font-size: 5vmin;
	font-style: italic;
	display: block;
	transition: 0.2s;
	background:linear-gradient(to right, white 0%, white 50%, transparent 50%, transparent 100%);
	background-size: 300% 100%;
	background-position: 100%;
	text-decoration: none;
	color: var(--font-color);
}
.sectionLink:hover {
	background-color: white;
	color:black;
	background-position:0%;
	padding:10px;
}

h1 {
	border-bottom: solid;
}

.content {
	position: absolute;
	top:100%;
	background: linear-gradient(var(--gradient-two), var(--gradient-one) 40%);
	width:100%;
	left:0;
	padding:10px;
	box-sizing:border-box;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 50px;
}

.project {
	width:100%;
	text-align: center;
	display: flex;
	justify-content: center;
}
.sheet {
	width:90vw;
	height:90vh;
	left:5vw;
	top:5vh;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 30px;
	background-color: var(--accent-color);
	overflow: auto;
	margin:50px 0 50px 0;
}
@media (orientation:landscape) {
	.sheet {
		max-width:800px;
	}
}
.set {
	display: flex;
	height:100%;
}
.set.art {
	flex-direction: row;
}
@media (orientation:portrait) {
	.set.art {
		flex-direction: column;
	}

	.set {
		flex-direction: column;
		align-items: center;
	}
	.right {
		height:50%
	}
}
.left, .right {
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.left {
	flex:1;
	text-align: left;
	padding:30px 30px 0 30px;
	box-sizing: border-box;
}
.right {
	text-align: left;
	max-width: 50%;
}
img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
	object-fit: contain;
}

.left h3 {
	font-size: 40px;
	margin:0;
}
.left a {
	color:var(--font-color);
}
.art {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.year {
	background-color: white;
	padding:5px;
	box-sizing: border-box;
	font-style: italic;
	width: fit-content;
	color:black;
}

.right.art {
	padding:10px;
	box-sizing: border-box;
	flex:1;
	max-height: 50vh;
}

.left.writing {
	flex:3;
}
.right.writing {
	flex:1;
	padding:10px;
}
img {
	border-radius: 30px;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	padding:10px;
}

.backToTop {
	position: fixed;
	right:10px;
	top:10px;
	background-color: transparent;
	border: solid;
	border-radius: 100%;
	color: var(--font-color);
	width:50px;
	height:50px;
	z-index: 3;
	transition: 0.2s;
	opacity: 0;
	border-width: 1px;
}
.backToTop:hover {
	background-color: white;
	color:black;
	border-color: white;
	width:55px;
	height:55px;
}
.backToTop:active{
	width:45px;
	height:45px;
}

.techs li {
	display: inline-block;
	background-color: var(--accent-color);
	margin-bottom:5px;
	padding: 5px;
	border-radius: 10px;
}
@media (max-height: 700px) {
	.techs {
		scale: 0;
		height: 0;
		width: 0;
		position:absolute;
	}
	.year {
		scale: 0;
		height: 0;
		width: 0;
		position:absolute;
	}
}
@media (max-height: 300px) {
	.left p {
		scale:0;
		position: absolute;
	}
	.left h3 {
		font-size: 25px !important;
	}
}
.techs {
	list-style: none;
	padding: 0;
}

.toc {
	position: fixed;
	left:0;
	top:0;
	padding: 10px;
	z-index: 3;
	max-height: 90vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	transition: 0.2s;
}
.tocEl {
	background-color: transparent;
	border: solid;
	border-color: var(--font-color);
	border-radius: 100%;
	width:10px;
	height: 10px;
	margin: 3px;
	display: block;
	border-width: 1px;
	transition: 0.2s;
	padding: 0;
}
.tocEl.active {
	background-color: var(--font-color);
}

.social {
	height: 15vmin;
	max-height: 40px;
	margin-right: 10px;
	transition: 0.2s;
	border-radius: 100%;
}
.social:hover {
	rotate:30deg;
}
.social:active {
	rotate:-30deg;
}
@media (prefers-color-scheme: dark) {
	.social {
		filter:invert(1)
	}
}

.socials {
	display: flex;
	align-items: center;
}

.comm {
	color: var(--font-color);
	display: inline-block;
	border:solid;
	border-width: 1px;
	border-radius: 100vmin;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;
	height: 15vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15vmin;
	min-width: fit-content;
	max-height: 40px;
	transition: 0.2s;
}
@media (orientation:portrait) {
	.comm span {
		display: none;
	}
	.comm::after {
		content: "$";
	}
}

.backLink {
	color: white;
	text-decoration: none;
	border: solid;
	border-width: 1px;
	border-radius: 100vmin;
	padding: 10px 20px 10px 20px;
	font-size: max(12px, 1vmin);
	border-color: white;
	transition: 0.2s;
}
.backLink:hover {
	color: black;
	background-color: white;
}

.introSection {
	max-width: 700px;
	text-align: center;
	margin-bottom: 200px;
	padding: 50px;
}

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-style: italic;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 5px;
	transition: 0.2s;
}
a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
p {
	line-height: 33px;
}